.chartdiv {
    width       : 100%;
    height      : 500px;
    font-size   : 14px;
}               

.float {
	position: relative;
	left: 30%;
	top: 0px;
}

#fresh p {
display: inline-block;
padding: 5px;
background: #FFFFFF;
margin: 0 0 20px;
}