<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CoffeeBot</title>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/built.min.css">
</head>
{% raw %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<body ng-app="app">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CoffeeBot</a>
    </div>
    <!-- /.navbar-header -->
</nav>
</body>
{% endraw %}
STATUS of COFFEE
{{ status }}
<br><br>
JSON stuff
<br>

EXAMPLE DATA
DAY GRAPH
<div id="chart" style="height: 250px;"></div>
<button type="button" id="day">Day</button>
<button type="button" id="week">Week</button>
<button type="button" id="month">Month</button>
<button type="button" id="year">Year</button>

OUR DATA
<script>
var chart = Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'chart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [{ time: '2015-06-09 0:00:00.000', value: 0 }], 
  // The name of the data record attribute that contains x-values.
  xkey: 'time',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Coffee Pot 1']
});

$("#day").click(function(){
  $.ajax({
      type: "GET",
      dataType: 'json',
      url: "./day", // Passing a parameter to the API to specify number of days
    })
    .done(function( data ) {
      // When the response to the AJAX request comes back render the chart with new data
      console.log
      chart.setData(data);
    })
    .fail(function() {
      // If there is no communication between the server, show an error
      alert( "error occured" );
    });
});


$("#week").click(function(){
  $.ajax({
      type: "GET",
      dataType: 'json',
      url: "./week", // Passing a parameter to the API to specify number of days
    })
    .done(function( data ) {
      // When the response to the AJAX request comes back render the chart with new data
      console.log
      chart.setData(data);
    })
    .fail(function() {
      // If there is no communication between the server, show an error
      alert( "error occured" );
    });
});


$("#month").click(function(){
  $.ajax({
      type: "GET",
      dataType: 'json',
      url: "./month", // Passing a parameter to the API to specify number of days
    })
    .done(function( data ) {
      // When the response to the AJAX request comes back render the chart with new data
      console.log
      chart.setData(data);
    })
    .fail(function() {
      // If there is no communication between the server, show an error
      alert( "error occured" );
    });
});


$("#year").click(function(){
  $.ajax({
      type: "GET",
      dataType: 'json',
      url: "./year", // Passing a parameter to the API to specify number of days
    })
    .done(function( data ) {
      // When the response to the AJAX request comes back render the chart with new data
      console.log
      chart.setData(data);
    })
    .fail(function() {
      // If there is no communication between the server, show an error
      alert( "error occured" );
    });
});

</script>
<script src="/static/assets/js/built.min.js"></script>
</html>
