<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CoffeeBot</title>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/built.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/js/graph.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
</head>
{% raw %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

<body>

<nav class="navbar navbar-default">
<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="fa fa-coffee"></i> COFFEEBOT</a>
    </div>
    <div class="nav navbar-top-links navbar-right">
        <button class="btn btn-default" onclick="generatechartData(1);"><img height="20px" width="20px" src="/static/assets/img/ren.gif"> Ren</button>
        <button class="btn btn-default" onclick="generatechartData(0);"><img height="20px" width="20px" src="/static/assets/img/stimpy.png"> Stimpy</button>
    </div>

</div>
</nav>
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class=""></i> Approximate Cups Remaining
                </div>
                <div class="panel-body">
                    <div id="gauge" class="400x320px"></div>
                </div>
                <div class="panel-heading">
                    <i class=""></i> Time Since Fresh Brew
                </div>
                <div class="panel-body">
                  <div id="fresh" class="400x320px">
		                    It's been
                     <p id="hours">00</p>
                     <p class="timeRefHours">hours</p>
                     <p id="minutes">00</p>
                     <p class="timeRefMinutes">minutes</p>
                     <p id="seconds">00</p>
                     <p class="timeRefSeconds">seconds</p>	
                  </div>
                </div>
 
            </div>
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class=""></i> Consumption Over Time
                </div>
                <div class="panel-body">
                    <div class="chartdiv" id="chartdiv"></div>
                </div>
            </div>
        </div>
    </div>

</body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="http://www.amcharts.com/lib/3/serial.js"></script>
<script src="http://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="/static/assets/js/raphael.2.1.0.min.js"></script>
<script src="/static/assets/js/justgage.1.0.1.min.js"></script>
  <!-- Compiled and minified CSS -->

  <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

{% endraw %}
<script>
//var chartData = generatechartData(0);
$(document).ready(function() {
    generatechartData(1);
});

function generatechartData(d) {

  $.ajax({
      type: "GET",
      dataType: 'json',
      url: "./week", // Passing a parameter to the API to specify number of days
    })
    .done(function( data ) {
      serial1 = []
      serial2 = []
      for(var i = 0; i < data.length; i++) {
            //console.log(data[i]["serial"]);
            if(data[i]["serial"] === "0081446059603") {
                serial1.push(data[i]);
            }
            else {
                serial2.push(data[i]);
            }
          
       }

      // When the response to the AJAX request comes back render the chart with new data
      var combined = [serial1,serial2];
      drawGraph(combined[d])
      currentCups(combined[d])
    })
    .fail(function() {
      // If there is no communication between the server, show an error
      alert( "error occured" );
    });
}

function drawGraph(chartData) {
//console.log(chartData[1]['time']);
refills = [];
//console.log(chartData);
$.each( chartData, function(i,val){
if( val["fresh"] == true) {
            refills.push(val["time"]);
            //console.log(refills);
            }
});

var last_elements = refills[refills.length - 1];
upTime(last_elements);



var chart = AmCharts.makeChart("chartdiv", {
    "theme": "light",
    "type": "serial",
    "marginRight": 80,
    "autoMarginOffset": 20,    
    "marginTop":20,
    "dataProvider": chartData,
    "valueAxes": [{
        "labelFunction": adjustToCupsAxis,
        "id": "v1",
        "axisAlpha": 2
    }],
    "valueAxis": [{
        "minimum": 0,
        "maximum": 4000,
    }],
    "mouseWheelZoomEnabled": true,
    "graphs": [{
        "id":"g1",
        "balloonText": "value: [[value]]</b>",
        "balloonFunction": adjustToCups,
        "bullet": "round",
        "type":"line",
        "bulletBorderAlpha": 1,
        "bulletBorderColor": "#FFFFFF",
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "minDistance":10,
        "lineColor": "#67b7dc",
        "valueField": "value"
    }],
    "chartScrollbar": {
        "graph":"g1",
        "autoGridCount":true,
        "scrollbarHeight": 55,
        "backgroundAlpha": 0.1,
        "backgroundColor": "#868686",
        "selectedBackgroundColor": "#c2c2c2",
        "selectedBackgroundAlpha": 1
    },
    "chartCursor": {
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true
    },
    "categoryField": "time",
    "categoryAxis": {
        "parseDates": true,
        "axisAlpha": 0,
        "minHorizontalGap": 60,
        "minPeriod":"mm"
    },
    "export": {
        "enabled": true
    }
});
var start = new Date();
start.setHours(8,0,0,0);
var end = new Date();

chart.zoomToDates(start,end);
}
function adjustToCups(graphDataItem, graph){
   var value = graphDataItem.values.value;
   value = ((value - 2000)/200)
   if (value > 0){
   return value +"<br> cups left";
   }
   else {
   return "0 <br> cups left";
   }
}

function adjustToCupsAxis(value, formattedValue, valueAxis){
   value = ((value - 2000)/200)
   if (value > 0){
   return value +" cups left";
   }
   else {
   return "0 cups left";
   }
}

var gageValue=0;

var g = new JustGage({
    id: "gauge",
    value: gageValue,
    min: 0,
    max: 8.5,
    title: " "
});

function currentCups(n) {
  var last_element = n[n.length - 1];
  last_element = ((last_element['value'] - 2000)/200)
  if (last_element < 1) {
    last_element = 0
  }
  g.refresh(last_element);
  gageValue = last_element;
}

function upTime(countTo) {
  now = new Date();
  countTo = new Date(countTo);
  difference = (now-countTo);

  days=Math.floor(difference/(60*60*1000*24)*1);
  hours=Math.floor((difference%(60*60*1000*24))/(60*60*1000)*1);
  mins=Math.floor(((difference%(60*60*1000*24))%(60*60*1000))/(60*1000)*1);
  secs=Math.floor((((difference%(60*60*1000*24))%(60*60*1000))%(60*1000))/1000*1);

  document.getElementById('hours').firstChild.nodeValue = hours;
  document.getElementById('minutes').firstChild.nodeValue = mins;
  document.getElementById('seconds').firstChild.nodeValue = secs;

  clearTimeout(upTime.to);
  upTime.to=setTimeout(function(){ upTime(countTo); },1000);
}

</script>


</html>
